### Documentation available at https://wodby.com/docs/stacks/drupal/local
### Changelog can be found at https://github.com/wodby/docker4drupal/releases
###
### Images tags format is [VERSION]-[STABILITY_TAG]
###
### [VERSION] is usually a version of application running in a container
### [VERSION] sometimes additionally includes major drupal version (see nginx)
### [STABILITY_TAG] is a version of an image (not application)
### [STABILITY_TAG] correspond to a git tag of corresponding image repository
###
### EXAMPLE: wodby/mariadb:10.2-3.1.2 has MariaDB 10.2 and stability tag 3.1.2
### New stability tags include patch updates for applications and other fixes/improvements
### You can find all details of this image at https://github.com/wodby/mariadb
###
### ! We highly encourage to use images only with stability tags

### PROJECT SETTINGS

PROJECT_NAME=my_drupal8_project
PROJECT_BASE_URL=drupal.docker.localhost
HASH_SALT=XIzY6Y23-vJ1v8tYyg3kSxqUEKKSTE_m-8I4VhOFRIRcpDVemDIdpXTxef3myryCgXz8_wttgg

DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_DRIVER=mysql

### --- MARIADB ----

MARIADB_TAG=10.1-3.3.4
#MARIADB_TAG=10.3-3.3.4
#MARIADB_TAG=10.2-3.3.4

### --- VANILLA DRUPAL ----
### [DRUPAL_VERSION]-[PHP_VERSION]-[STABILITY_TAG]

# Drupal 8

DRUPAL_TAG=8-7.2-4.6.3
#DRUPAL_TAG=8-7.1-4.6.3
#DRUPAL_TAG=8-7.0-4.6.3

# Drupal 7

#DRUPAL_TAG=7-7.1-4.6.3
#DRUPAL_TAG=7-7.2-4.6.3
#DRUPAL_TAG=7-7.0-4.6.3
#DRUPAL_TAG=7-5.6-4.6.3

# Drupal 6

#DRUPAL_TAG=6-5.6-4.6.3
#DRUPAL_TAG=6-5.3-4.6.3

### --- PHP ----

# Linux (uid 1000 gid 1000)

#PHP_TAG=7.1-dev-4.6.3
#PHP_TAG=7.2-dev-4.6.3
#PHP_TAG=7.0-dev-4.6.3
#PHP_TAG=5.6-dev-4.6.3
#PHP_TAG=5.3-dev-4.6.3

# macOS (uid 501 gid 20)

PHP_TAG=7.1-dev-macos-4.6.3
#PHP_TAG=7.2-dev-macos-4.6.3
#PHP_TAG=7.0-dev-macos-4.6.3
#PHP_TAG=5.6-dev-macos-4.6.3
#PHP_TAG=5.3-dev-macos-4.6.3

### --- NGINX ----

NGINX_TAG=1.15-5.0.3
#NGINX_TAG=1.14-5.0.3

NGINX_VHOST_PRESET=drupal8
#NGINX_VHOST_PRESET=drupal7
#NGINX_VHOST_PRESET=drupal6

### --- SOLR ---

SOLR_CONFIG_SET="search_api_solr_8.x-2.1"

SOLR_TAG=7.4-3.0.2
#SOLR_TAG=7.3-3.0.2
#SOLR_TAG=7.2-3.0.2
#SOLR_TAG=7.1-3.0.2
#SOLR_TAG=6.6-3.0.2
#SOLR_TAG=5.5-3.0.2
#SOLR_TAG=5.4-3.0.2

### --- ELASTICSEARCH ---

ELASTICSEARCH_TAG=6.2-3.0.0
#ELASTICSEARCH_TAG=6.1-3.0.0
#ELASTICSEARCH_TAG=6.0-3.0.0
#ELASTICSEARCH_TAG=5.6-3.0.0
#ELASTICSEARCH_TAG=5.5-3.0.0
#ELASTICSEARCH_TAG=5.4-3.0.0

### --- KIBANA ---

KIBANA_TAG=6.2-3.0.0
#KIBANA_TAG=6.1-3.0.0
#KIBANA_TAG=6.0-3.0.0
#KIBANA_TAG=5.6-3.0.0
#KIBANA_TAG=5.5-3.0.0
#KIBANA_TAG=5.4-3.0.0

### --- REDIS ---

REDIS_TAG=4.0-2.1.6
#REDIS_TAG=3.2-2.1.6

### --- NODE ---

NODE_TAG=10.9-0.4.0
#NODE_TAG=8.11-0.4.0
#NODE_TAG=6.14-0.4.0

### --- POSTGRESQL ----

POSTGRES_TAG=10-1.3.1
#POSTGRES_TAG=9.6-1.3.1
#POSTGRES_TAG=9.5-1.3.1
#POSTGRES_TAG=9.4-1.3.1
#POSTGRES_TAG=9.3-1.3.1

### OTHERS

ADMINER_TAG=4.6-2.0.0
APACHE_TAG=2.4-4.0.0
ATHENAPDF_TAG=2.10.0
DRUPAL_NODE_TAG=1.0-2.0.0
MEMCACHED_TAG=1.5-2.1.1
OPENSMTPD_TAG=6.0-1.4.0
RSYSLOG_TAG=latest
VARNISH_TAG=4.1-3.0.4
WEBGRIND_TAG=1.5-1.3.1
