<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="drunomics_d8">

  <description>Default drunomics Coding Style for Drupal 8.</description>

  <file>./tests/behat/behat-features/src</file>
  <file>./scripts</file>
  <file>./web/modules/custom</file>

  <exclude-pattern>./scripts/composer/ScriptHandler.php</exclude-pattern>
  <exclude-pattern>*md</exclude-pattern>
  <exclude-pattern>./scripts/composer/ScriptHandler.php</exclude-pattern>
  <exclude-pattern>./scripts</exclude-pattern>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme"/>
  <arg value="s"/>

  <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal">
    <!--Blacklist of coding standard rules we don't care about. -->
    <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
    <exclude name="Drupal.Commenting.Deprecated.DeprecatedMissingSeeTag"/>
    <exclude name="Drupal.Commenting.Deprecated.DeprecatedWrongSeeUrlFormat"/>
    <exclude name="Drupal.Commenting.Deprecated.IncorrectTextLayout"/>
  </rule>
  <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice">
    <exclude name="DrupalPractice.Commenting.CommentEmptyLine"/>
  </rule>

  <rule ref="Drupal.NamingConventions.ValidVariableName.LowerCamelName">
    <!-- Annotations must use the same property names as in the configuration. -->
    <exclude-pattern>*/src/Annotation</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.FunctionComment.MissingParamComment">
    <!-- Allow undocumented parameters in tests and scripts. -->
    <exclude-pattern>./scripts</exclude-pattern>
    <exclude-pattern>*/tests</exclude-pattern>
  </rule>

  <rule ref="Drupal.Commenting.FileComment.WrongStyle">
    <!-- Scripts have different file comments. -->
    <exclude-pattern>./scripts</exclude-pattern>
  </rule>

  <rule ref="Drupal.Commenting.DocComment.MissingShort">
    <!-- Behat step definitions have different comments. -->
    <exclude-pattern>./tests/behat/behat-features</exclude-pattern>
  </rule>

  <!-- We always want short array syntax only. -->
  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />

  <!-- Some exception for drush config. -->
  <rule ref="Drupal.Commenting.DocComment.ShortSingleLine">
    <exclude-pattern>./drush</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.InlineComment.SpacingAfter">
    <exclude-pattern>./drush</exclude-pattern>
  </rule>
  <rule ref="Drupal.Commenting.InlineComment.InvalidEndChar">
    <exclude-pattern>./drush</exclude-pattern>
  </rule>

</ruleset>
