# {{ project }}
developed by drunomics GmbH, office@drunomics.com

This project is maintained using composer. Please refer to the documentation provided at https://github.com/drupal-composer/drupal-project and https://www.drupal.org/node/2471553.
